public/assets/Templates/daily-news.json
{
  "name": "daily news",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "rss",
        "options": {}
      },
      "id": "f474f1bc-0c34-4111-a429-56cb0a217cdc",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -192,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=# {{ $json.title }}\n{{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "createDate",
                "value": "={{ $now.toISO() }}"
              },
              {
                "name": "publishDate",
                "value": "={{ $json.date }}"
              },
              {
                "name": "link",
                "value": "={{ $json.link }}"
              }
            ]
          }
        }
      },
      "id": "364f26d5-6522-45d8-a856-406f8b6859f3",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        640,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "options": {}
      },
      "id": "cdd5a079-f642-4efb-9ac1-34b371879ad8",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        640,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "4e620de4-279a-4e35-a42a-0348567dea92",
      "name": "Get Articles Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -640,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the most relevant tech news published in the past 7 days. Today is {{ $now }}",
        "options": {
          "systemMessage": "=Write in clear, concise, and easy-to-understand English, as if curating a weekly tech newsletter.\n\nPrioritize stories related to the following topics: {{ $json.Interests }}.\nIf those topics aren't present, choose the most impactful, widely reported, and noteworthy tech events from the week.\n\nFor each news item:\n\nProvide a short, informative summary (1–3 sentences max)\n\nInclude the article title and a direct link to the original source\n\nAvoid duplicate stories.\n\nInclude exactly {{ $json['Number of news items to include'] }} distinct news items.\nMaintain a tone that's friendly yet professional, suitable for a broad audience of tech enthusiasts."
        }
      },
      "id": "05d40fc9-40c6-406b-840a-c3a93c075b5a",
      "name": "News reader AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -64,
        736
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "id": "6d41e060-8be1-407d-9bdb-3c884dbc29e9",
      "name": "Convert Response to an Email-Friendly Format",
      "type": "n8n-nodes-base.markdown",
      "position": [
        400,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "018882ca-37c3-45af-944f-2081b0605065",
              "name": "Interests",
              "type": "string",
              "value": "={{ $json.Interest }}"
            },
            {
              "id": "4cfdafc1-47a4-41cc-9eb8-72880ea34511",
              "name": "Number of news items to include",
              "type": "string",
              "value": "={{ $json[\"Number of news items to include\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8314568b-3f93-4cb6-b68f-5304949b9c7b",
      "name": "Your topics of interest",
      "type": "n8n-nodes-base.set",
      "position": [
        -320,
        736
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "news_store_key"
      },
      "id": "060a288b-f679-461b-a6f6-3597b42e5901",
      "name": "Store News Articles",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        512,
        80
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8c00469-890b-4b5b-8e2e-2ad9ec2d0815",
              "name": "rss",
              "type": "array",
              "value": "=[\n  \"https://www.engadget.com/rss.xml\",\n  \"https://feeds.arstechnica.com/arstechnica/index\",\n  \"https://www.theverge.com/rss/index.xml\",\n  \"https://www.wired.com/feed/rss\",\n  \"https://www.technologyreview.com/topnews.rss\",\n  \"https://techcrunch.com/feed/\"\n]\n"
            }
          ]
        },
        "options": {}
      },
      "id": "90e236ca-7ec3-499f-9e49-dfbee588ab8f",
      "name": "Set Tech News RSS Feeds",
      "type": "n8n-nodes-base.set",
      "position": [
        -416,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.rss }}",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "ad3ff2cc-c780-4f52-a3f8-4d1cfffce60b",
      "name": "Read RSS News Feeds",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        32,
        80
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "get_news",
        "toolDescription": "Call this tool to get the latest news articles.",
        "memoryKey": "news_store_key",
        "topK": 20
      },
      "id": "eeeb665f-500c-487d-ada0-aef1dc1a7bba",
      "name": "Get News Articles",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        32,
        960
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9f27ceb-c5f2-4997-8cb1-67576a7bb337",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "4c4f9417-40f2-4fb0-9976-d09f5984680f",
              "name": "content",
              "type": "string",
              "value": "={{ $json['content:encodedSnippet'] ?? $json.contentSnippet}}"
            },
            {
              "id": "e1986bac-054e-4240-ba50-536dbcd27337",
              "name": "date",
              "type": "string",
              "value": "={{ $json.isoDate}}"
            },
            {
              "id": "9566e23c-ac30-4d66-abbd-889f322688b7",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a83f47a3-dc14-4191-ac56-e63b3811537a",
      "name": "Set and Normalize Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        256,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "formTitle": "Your Topic of Interest",
        "formDescription": "we'll get back to you soonn.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Interest",
              "placeholder": "Ai, Games, Gadgets"
            },
            {
              "fieldLabel": "Number of news items to include",
              "placeholder": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -544,
        736
      ],
      "id": "ceeaf8b9-af23-4f2c-9eb6-417412182cdf",
      "name": "On form submission",
      "webhookId": "4db2e10b-daad-40a9-a8c4-9b52035445aa"
    },
    {
      "parameters": {
        "sendTo": "yashsahu1131@gmail.com",
        "subject": "report",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        736
      ],
      "id": "20b87f57-61d2-42c9-9349-61ea12c7ebbf",
      "name": "Send a message",
      "webhookId": "ab58e38b-55af-47e6-a171-d44af4cdeb57",
      "credentials": {
        "gmailOAuth2": {
          "id": "id8O1ldPi2LQmcAz",
          "name": "me_acc"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        1120
      ],
      "id": "268e0311-2f14-4baa-91e1-6d48c92c66d4",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "J41f47xLUD5TP26x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        304
      ],
      "id": "5d9165b5-1fd5-4290-b839-a0c2d6881d06",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "J41f47xLUD5TP26x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Runs Daily and store news from compititor websites into vector database",
        "height": 688,
        "width": 1728,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -48
      ],
      "typeVersion": 1,
      "id": "b81888b9-ed4f-4ab0-a149-0f9804b83ab1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Runs on form submission \n",
        "height": 704,
        "width": 1728,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        640
      ],
      "typeVersion": 1,
      "id": "29217421-18c3-4db6-bcf8-3e7d3f125811",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        944
      ],
      "id": "023e060b-b046-4855-a62b-32d15041bc96",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "J41f47xLUD5TP26x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Read RSS News Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News reader AI": {
      "main": [
        [
          {
            "node": "Convert Response to an Email-Friendly Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News Articles": {
      "ai_tool": [
        [
          {
            "node": "News reader AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Articles Daily": {
      "main": [
        [
          {
            "node": "Set Tech News RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Store News Articles",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Read RSS News Feeds": {
      "main": [
        [
          {
            "node": "Set and Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tech News RSS Feeds": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Your topics of interest": {
      "main": [
        [
          {
            "node": "News reader AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set and Normalize Fields": {
      "main": [
        [
          {
            "node": "Store News Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Convert Response to an Email-Friendly Format": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Your topics of interest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Get News Articles",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Store News Articles",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "News reader AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "564c849d-e30d-4c19-8258-e9dcda205aa4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f8989fb2cc9103e7f7df860b2d16256062b8a28f24be9612d4f7d2397233f00"
  },
  "id": "YDkAKoxjPv7H8hdx",
  "tags": []
}