public/assets/Templates/lead-gen-apify.json
{
  "name": "lead-gen-apify",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead generation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "role ",
              "placeholder": "AI engineer"
            },
            {
              "fieldLabel": "location",
              "placeholder": "pune"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        208,
        -16
      ],
      "id": "ad8871a3-9c14-42fc-a9c1-3d82b9a8a39a",
      "name": "On form submission",
      "webhookId": "114993c5-b66e-49d8-b54c-d92f37dd1b76"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "BHzefUZlZRKWxkTck",
          "mode": "list",
          "cachedResultName": "🔥 LinkedIn Jobs Scraper (bebity/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/BHzefUZlZRKWxkTck/input"
        },
        "customBody": "={\n    \"contractType\": \"C\",\n    \"location\": \"{{ $json.location }}\",\n    \"proxy\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyGroups\": [\n            \"RESIDENTIAL\"\n        ]\n    },\n    \"rows\": 10,\n    \"title\": \"{{ $json['role '] }} \"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        432,
        -16
      ],
      "id": "c41c5382-fd67-4cdd-ae36-76230cee071e",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "6HqlIp8E8pFpGhVN",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        656,
        -16
      ],
      "id": "ab070ba4-9763-4035-90c6-9df912ad18bf",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        -16
      ],
      "id": "583a8519-e2c3-477e-90e7-28f7999c0112",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "QDzVlkDzZHI6UT95S",
          "mode": "list",
          "cachedResultName": "Linkedin Company Scraper (Public data) (emastra/linkedin-company-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/QDzVlkDzZHI6UT95S/input"
        },
        "customBody": "={\n    \"startUrls\": [\n        \"{{ $json.companyUrl }}\"\n    ]\n} ",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1104,
        -16
      ],
      "id": "c31c9c97-5fee-44c3-b138-b695f97dd66f",
      "name": "Run an Actor and get dataset1",
      "credentials": {
        "apifyApi": {
          "id": "6HqlIp8E8pFpGhVN",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        -16
      ],
      "id": "7fa6fcc9-2139-49ff-b4bb-6bb30f1ca228",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=linkedin_url: {{ $('Run an Actor and get dataset1').item.json.url }}\ncompany_website: {{ $('Run an Actor and get dataset1').item.json.website }}\n\nYou are an AI Email Finder.\n\nTask:\n1. Visit and analyze both the LinkedIn URL and the company website.\n2. Find and extract professional contact emails related to:\n   - HR or Recruiting personnel (e.g., Recruiter, Talent Acquisition, HR Manager, People Operations)\n   - Official company contact channels (e.g., contact@, info@, careers@, hr@)\n3. Verify each email is professional and relevant to recruitment or official company communication.\n4. Prioritize recruitment-related emails over general ones.\n\nOutput in JSON format:\n{\n  \"company_name\": \"\",\n  \"company_website\": \"{{ $('Run an Actor and get dataset1').item.json.website }}\",\n  \"linkedin_url\": \"{{ $('Run an Actor and get dataset1').item.json.url }}\",\n  \"emails_found\": [\n    {\n      \"email\": \"\",\n      \"type\": \"Recruiter | HR | General | Unknown\",\n      \"source\": \"LinkedIn | Company Website | Both\"\n    }\n  ]\n}\n\nIf no valid email is found, return:\n{\n  \"emails_found\": [],\n  \"note\": \"No valid email found on LinkedIn or company website.\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1616,
        -16
      ],
      "id": "e59e21d8-e52c-4c5b-bcc9-f3105f45d644",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1552,
        208
      ],
      "id": "8fce0796-bf73-4cd8-8292-ba4647d27394",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Cir7W6hOzo76suZE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1680,
        208
      ],
      "id": "dddf00e2-28ba-4ae0-a59c-8ae1cce272a3",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "ZmzvB6FyASS7Pj8o",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"TechNova Solutions\",\n  \"company_website\": \"https://www.technova.io\",\n  \"linkedin_url\": \"https://www.linkedin.com/company/technova-solutions/\",\n  \"emails_found\": [\n    {\n      \"email\": \"recruiter@technova.io\",\n      \"type\": \"Recruiter\",\n      \"source\": \"Company Website\"\n    },\n    {\n      \"email\": \"hr@technova.io\",\n      \"type\": \"HR\",\n      \"source\": \"Both\"\n    },\n    {\n      \"email\": \"info@technova.io\",\n      \"type\": \"General\",\n      \"source\": \"LinkedIn\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1808,
        208
      ],
      "id": "d384da16-a38e-42eb-be89-e06e8131a12d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16BMq1PgHW7cZf4y9k9MTKm26v0HFgW-j-PGPzsYpJWE",
          "mode": "list",
          "cachedResultName": "Linkedin_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16BMq1PgHW7cZf4y9k9MTKm26v0HFgW-j-PGPzsYpJWE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16BMq1PgHW7cZf4y9k9MTKm26v0HFgW-j-PGPzsYpJWE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.output.company_name }}",
            "Emails Found": "={{ $json.output.emails_found[0] }}",
            "LinkedIn URL": "={{ $json.output.linkedin_url }}",
            "Company Website": "={{ $json.output.company_website }}",
            "Job Title": "={{ $('Run an Actor and get dataset').item.json.title }}",
            "Location": "={{ $('Run an Actor and get dataset').item.json.location }}",
            "Description": "={{ $('Run an Actor and get dataset').item.json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails Found",
              "displayName": "Emails Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        -16
      ],
      "id": "9a05a9d2-4cff-45d7-9bb3-b4972c946a8d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kc7TDGHinSwzEPxF",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Run an Actor and get dataset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88f36629-90b9-4d71-9d7a-90b388feb0c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48b90ff34e815b6d3645417fc0aaafe945e7d7e0e35921555086a5ca099760f5"
  },
  "id": "xcETD5VbYMOB4bBW",
  "tags": []
}