public/assets/Templates/Sheet-Analizer-Bot.json
{
  "name": "Sheet Analizer Bot",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "777db4b9-9b1d-487d-9eb4-b0f51afcf3ea",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -304,
        288
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "urbtrva7Pu5dKh9S",
          "name": "OpenAi Chaaabi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "id": "b2130adf-9e1b-48ea-8fe9-a4116f27933b",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -176,
        288
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user: {{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI data assistant with full expertise in the given spreadsheet.\nYour core instruction is to analyze every incoming user message and decide the next action precisely as follows:\n\nIf the user query is relevant to the spreadsheet data (e.g., asking about analytics, insights, summaries, statistics, comparisons, trends, cell values, or requesting data from the sheet in any way):\n\nCall the tool `fetch_sheet_data` immediately to retrieve or analyze the required data before responding.\n\nUse your domain expertise to interpret and reason about the sheet’s content to deliver accurate, contextual, and data-driven answers.\n\nIf the user query is unrelated to the sheet or not about the data (e.g., personal questions, general chat, unrelated topics):\n\nRespond simply with: “Sorry, I can only assist with queries related to the sheet data.”\n\nYour first step is to analyze and understand the entire sheet to gain complete expertise on its structure, contents, and meaning before handling user queries.\nAlways prioritize precision, brevity, and factual accuracy in your responses."
        }
      },
      "id": "98bf2fe2-f431-49ec-8af1-a3fe1d48b48c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -256,
        64
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        64
      ],
      "id": "33319579-7f44-420c-bfe7-b0bb06c44391",
      "name": "Telegram Trigger",
      "webhookId": "2e04b5b4-fd51-4365-a411-3c268b041089",
      "credentials": {
        "telegramApi": {
          "id": "8MIWCddHEUy19ezL",
          "name": "Telegram Sheet Expert"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        64
      ],
      "id": "188120c7-cca6-433c-9f10-d7227a677c1b",
      "name": "Send a text message",
      "webhookId": "f7a8ce86-39f0-4ee5-ac10-639c8627eca2",
      "credentials": {
        "telegramApi": {
          "id": "8MIWCddHEUy19ezL",
          "name": "Telegram Sheet Expert"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hbodIBaA8skXjxgPkhdJa2lq3qK4vcinveCG9txu4co",
          "mode": "list",
          "cachedResultName": "Saloon Booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbodIBaA8skXjxgPkhdJa2lq3qK4vcinveCG9txu4co/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1373313368,
          "mode": "list",
          "cachedResultName": "APPOINTMENT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hbodIBaA8skXjxgPkhdJa2lq3qK4vcinveCG9txu4co/edit#gid=1373313368"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -48,
        288
      ],
      "id": "f793ce8e-a223-4ab5-b552-afa76cdc9cc4",
      "name": "fetch_sheet_data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FcwaazbzBCy1jx1q",
          "name": "Google Sheets Sam"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_sheet_data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f25bb287-8bfc-45ba-b698-c7e4510d8f3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2083038fbc253b4180eadb9a1e5ddf461c6f5eebcbb33388217161be06e63baf"
  },
  "id": "Vf1wNSeCNBY6Hh70",
  "tags": []
}