public/assets/Templates/social-media-post.json
{
  "name": "Social Media Post",
  "nodes": [
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "294006293788777/videos",
        "edge": "videos",
        "allowUnauthorizedCerts": true,
        "sendBinaryData": true,
        "binaryPropertyName": "file:datavideo",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "description",
                "value": "={{ $json.Description }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1632,
        1424
      ],
      "id": "5929d094-5d9a-420a-a045-8b89a5c0d87c",
      "name": "Upload Video and Description on Facebook1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        720
      ],
      "id": "2c263530-8b13-4cef-97e5-9a07a0d067d8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        720
      ],
      "id": "72e2f190-e574-4c05-9bc8-8ad0e1c6169e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/17841460793685821/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ 'https://thisisabucketforaman.s3.us-east-1.amazonaws.com/' \n   + encodeURIComponent(($('Schedule Decision Maker1').item.json['Sheet '] || '') \n   + '-' \n   + $('Schedule Decision Maker1').item.json['Ep. No.']) }}\n"
            },
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "caption",
              "value": "={{ $('Schedule Decision Maker1').item.json.Description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        848
      ],
      "id": "a1d73b0a-0f9b-448c-9a8f-8a4bda52421d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/17841460793685821/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        848
      ],
      "id": "9f8fc858-0ecd-4daa-8f65-8599b766b311",
      "name": "HTTP Request26",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2064,
        848
      ],
      "id": "16b9d4d3-f9d0-48c4-84c0-9d6ce99033ca",
      "name": "Wait1",
      "webhookId": "0390edff-8af7-401d-9122-fa39d1714143"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.URL }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        1024
      ],
      "id": "8eb08b58-6d39-453b-8b01-775c06f2a01c",
      "name": "Download file4"
    },
    {
      "parameters": {
        "filePath": "=test.mp4",
        "dataPropertyName": "datavideo"
      },
      "id": "8640c4aa-4dd8-4d77-860b-29b53ede50b4",
      "name": "Read Video from Google Drive",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2304,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileName": "=test.mp4",
        "options": {}
      },
      "id": "1697a1ce-4f2d-4944-b4e5-74c011af9ed1",
      "name": "Read video from Google Drive",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        1632,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// GetMeta node: produce a single item containing total_bytes, mimeType and fileName\nconst it = items[0];\nif (!it.binary || !it.binary.data) {\n  throw new Error(\"No binary.data found on input item\");\n}\n// note: don't output the base64 itself, only metadata\nconst base64 = it.binary.data.data;\nconst total_bytes = Buffer.from(base64, 'base64').length;\nconst mimeType = it.binary.data.mimeType || 'video/mp4';\nconst fileName = it.binary.data.fileName || 'file.mp4';\n\nreturn [{ json: { total_bytes, mimeType, fileName } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        1072
      ],
      "id": "f6755a77-7fca-419b-8346-d1316d6b98c7",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/media/upload/initialize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"additional_owners\": [\n    \"2244994945\"\n  ],\n  \"media_category\": \"tweet_video\",\n  \"media_type\": \"video/mp4\",\n  \"shared\": false,\n  \"total_bytes\": {{ $json.total_bytes }}\n\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1072
      ],
      "id": "c0201313-273b-4390-a2e3-97cb95b97165",
      "name": "Init",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst CHUNK_SIZE = 4 * 1024 * 1024;\n\nconst item = items[0];\n\n// Use the actual key name \"datavideo\"\nif (!item.binary || !item.binary.datavideo) {\n  throw new Error(\"No binary.datavideo found on the input item\");\n}\n\nconst base64 = item.binary.datavideo.data;\nconst buffer = Buffer.from(base64, 'base64');\nconst totalSize = buffer.length;\n\nfor (let i = 0; i < totalSize; i += CHUNK_SIZE) {\n  const chunk = buffer.slice(i, i + CHUNK_SIZE);\n  results.push({\n    json: {\n      index: Math.floor(i / CHUNK_SIZE),\n      size: chunk.length,\n    },\n    binary: {\n      chunk: {\n        data: chunk.toString('base64'),\n        mimeType: item.binary.datavideo.mimeType,\n        fileName: item.binary.datavideo.fileName || `chunk_${i}.bin`,\n      }\n    }\n  });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        1072
      ],
      "id": "73d687bf-2a26-4408-a193-1433a02e7f86",
      "name": "Code5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.x.com/2/media/upload/{{ $('Init').item.json.data.id }}/append ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "segment_index",
              "value": "={{ $json.index }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "chunk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2656,
        1072
      ],
      "id": "60b5f7ad-c1aa-4482-8a84-95fd52b4c2c4",
      "name": "Append1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.x.com/2/media/upload/{{ $('Init').item.json.data.id }}/finalize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_id\": \"{{ $('Init').item.json.data.id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        1072
      ],
      "id": "3ee8d8d6-8853-4f3e-9c31-d5459db8bb3e",
      "name": "Finalize"
    },
    {
      "parameters": {
        "text": "={{ $('Switch3').item.json.Description }}",
        "additionalFields": {
          "attachments": "={{ $json.data.id }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        3616,
        1072
      ],
      "id": "85420171-5812-4f8d-8565-d730d57e0f78",
      "name": "Create Tweet",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab6b54d1-f19c-4f54-a86b-13e6a69ad972",
              "leftValue": "={{ $json.data.processing_info.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3392,
        1088
      ],
      "id": "388c660b-177e-4c13-a69e-3e0f26eb05d7",
      "name": "If4"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3392,
        1344
      ],
      "id": "185d0543-89a7-4934-81d7-ea3500f7fb6a",
      "name": "Wait3",
      "webhookId": "4bde1c60-38a7-4d46-a1e0-f1838dd44537"
    },
    {
      "parameters": {
        "url": "=https://api.x.com/2/media/upload?command=STATUS&media_id={{ $json.data.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_id\":\"1964992616530862080\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        1072
      ],
      "id": "a2f61607-b670-46d5-b437-cce9884af323",
      "name": "get status1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nfunction normaliseTime(raw) {\n  if (!raw) return null;\n  let t = String(raw).trim().toLowerCase();\n  // 4.15pm -> 4:15pm\n  t = t.replace(/\\./g, ':');\n  // 4pm -> 4:00pm  |  4:5pm -> 4:05pm\n  t = t.replace(/^(\\d{1,2})(?::?(\\d{1,2}))?\\s*(am|pm)?$/, (_, h, m, mer) => {\n    const hh = h.padStart(1, '0');             // keep 1–2 digits\n    const mm = (m == null ? '00' : m.padStart(2, '0'));\n    const meridiem = mer ? mer : '';           // if no am/pm, leave blank (24h not supported here)\n    return `${hh}:${mm}${meridiem}`;\n  });\n  // ensure a space before am/pm: 4:15pm -> 4:15 pm\n  t = t.replace(/(am|pm)$/,' $1');\n  return t;\n}\n\nreturn rows.map(item => {\n  const dateStr = item.json['Publish date'];\n  const timeStr = item.json.Time;\n  const normTime = normaliseTime(timeStr);\n\n  let scheduledISO = null;\n  let shouldPost = false;\n  let parseError = null;\n\n  try {\n    if (!dateStr || !normTime) throw new Error('Missing date or time');\n    // Example: \"26 Aug 2025 4:15 pm GMT+0530\"\n    const full = `${dateStr} ${normTime} GMT+0530`;\n    const scheduled = new Date(full);\n    if (isNaN(scheduled.getTime())) throw new Error(`Unparseable datetime: \"${full}\"`);\n    scheduled.setSeconds(0, 0);\n    scheduledISO = scheduled.toISOString();\n\n    const now = new Date();\n    now.setSeconds(0, 0);\n    shouldPost = scheduled.getTime() <= now.getTime();\n  } catch (e) {\n    parseError = e.message;\n  }\n\n  return {\n    json: {\n      ...item.json,\n      normalizedTime: normTime,\n      scheduledISO,\n      shouldPost,\n      parseError,          // helpful to see which row failed (null when OK)\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        736
      ],
      "id": "58889408-1dcc-4dee-993d-5eacea6a091d",
      "name": "Schedule Decision Maker1"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "thisisabucketforaman",
        "fileName": "={{ $json['Sheet '] }}-{{ $json['Ep. No.'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1616,
        848
      ],
      "id": "42f4222c-9068-4157-82a4-b340c26e54cf",
      "name": "Upload a file"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.URL }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        848
      ],
      "id": "04aff7f2-38aa-4b01-ab22-b44f312f5590",
      "name": "Download file5"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json['Sheet '] }}-{{ $json['Ep. No.'] }}",
        "regionCode": "US",
        "categoryId": "=22",
        "binaryProperty": "datavideo",
        "options": {
          "description": "={{ $json.Description }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1632,
        1216
      ],
      "id": "735e98e6-9413-4d3a-a198-dd662ae5297d",
      "name": "Upload a video",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        720
      ],
      "id": "6e036e8b-f291-447d-adcf-319cba73133d",
      "name": "get sheet data"
    },
    {
      "parameters": {
        "filePath": "=test.mp4",
        "dataPropertyName": "datavideo"
      },
      "id": "f91b595d-ef1f-4ddb-9f7c-1f1cf64df647",
      "name": "Read Video from Google Drive2",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        1408,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "=test.mp4",
        "dataPropertyName": "datavideo"
      },
      "id": "12eb40c8-c6de-4141-9d48-73f574d61300",
      "name": "Read Video from Google Drive3",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        1408,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "thisisabucketforaman",
        "fileName": "={{ $json[\"Ep. No.\"] }}-{{ $json[\"Sr. No.\"] }}.jpg",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1600,
        112
      ],
      "id": "9757b171-9c46-4a53-9bea-66eaebf6e6a7",
      "name": "Upload a file1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.URL }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        272
      ],
      "id": "81083e8f-5b42-460f-b682-d37973bfdbfe",
      "name": "Download file6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/media/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            },
            {
              "name": "media_category",
              "value": "tweet_image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        272
      ],
      "id": "17bdbc1d-07a5-4b51-b489-a53697052206",
      "name": "HTTP Request11",
      "retryOnFail": true
    },
    {
      "parameters": {
        "text": "={{ $('Schedule Decision Maker1').item.json.Description }}",
        "additionalFields": {
          "attachments": "={{ $json.data.id }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1824,
        272
      ],
      "id": "cbef7a23-0e36-436d-a301-0e9cd97a0475",
      "name": "Create Tweet1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.URL }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        432
      ],
      "id": "4bd4a887-310a-4b16-a92e-c1974197f3b8",
      "name": "Download file8"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "/294006293788777/photos",
        "sendBinaryData": true,
        "binaryPropertyName": "file:data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.Description }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1600,
        432
      ],
      "id": "bdf7396a-dab4-405e-ad5a-4df082a4317e",
      "name": "Post onFB",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "=17841460793685821",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ 'https://thisisabucketforaman.s3.us-east-1.amazonaws.com/' \n   + encodeURIComponent(($('Schedule Decision Maker1').item.json['Sheet '] || '') \n   + '-' \n   + $('Schedule Decision Maker1').item.json['Ep. No.']) }}\n"
              },
              {
                "name": "caption",
                "value": "=test"
              }
            ]
          }
        }
      },
      "id": "f4fbd300-6900-46c4-96c9-1a76ec46f9c3",
      "name": "Instagram img",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1824,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "=17841460793685821",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "dd76feca-752c-4546-b884-a02a4854a391",
      "name": "publish media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        2048,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.URL }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        112
      ],
      "id": "9d0db2e5-b91f-4bcb-a230-51922ce3a9de",
      "name": "Download file"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['POST TYPE'] }}",
                    "rightValue": "IMAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "pt-img-ig"
                  },
                  {
                    "leftValue": "={{ $json.IG }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "pf-ig"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSTAGRAM_IMAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['POST TYPE'] }}",
                    "rightValue": "IMAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "pt-img-x"
                  },
                  {
                    "leftValue": "={{ $json.X }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "pf-x"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X_IMAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['POST TYPE'] }}",
                    "rightValue": "IMAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "pt-img-fb"
                  },
                  {
                    "leftValue": "={{ $json.FACEBOOK }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "pf-fb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FACEBOOK_IMAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['POST TYPE'] }}",
                    "rightValue": "VIDEO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "pt-vid-ig"
                  },
                  {
                    "leftValue": "={{ $json.IG }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "pf-ig-v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSTAGRAM_VIDEO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['POST TYPE'] }}",
                    "rightValue": "VIDEO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "pt-vid-x"
                  },
                  {
                    "leftValue": "={{ $json.X }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "pf-x-v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "X_VIDEO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['POST TYPE'] }}",
                    "rightValue": "VIDEO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "pt-vid-yt"
                  },
                  {
                    "leftValue": "={{ $json.YT }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "pf-yt-v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YOUTUBE_VIDEO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['POST TYPE'] }}",
                    "rightValue": "VIDEO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "pt-vid-fb"
                  },
                  {
                    "leftValue": "={{ $json.FB }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "pf-fb-v"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FACEBOOK_VIDEO"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1152,
        656
      ],
      "id": "5f4f1e32-b81c-45c5-99cd-d69811f2d4ea",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sr. No.": "={{ $('Switch3').item.json[\"Sr. No.\"] }}",
            "FACEBOOK": "true",
            "STATUS": "posted"
          },
          "matchingColumns": [
            "Sr. No."
          ],
          "schema": [
            {
              "id": "Sr. No.",
              "displayName": "Sr. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ep. No.",
              "displayName": "Ep. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FACEBOOK",
              "displayName": "FACEBOOK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INSTAGRAM",
              "displayName": "INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YOUTUBE",
              "displayName": "YOUTUBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        1424
      ],
      "id": "e8deb5b2-e7d4-468f-9bea-cc490023e832",
      "name": "Update row in sheet7"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sr. No.": "={{ $('get sheet data').item.json['Sr. No.'] }}",
            "STATUS": "posted"
          },
          "matchingColumns": [
            "Sr. No."
          ],
          "schema": [
            {
              "id": "Sr. No.",
              "displayName": "Sr. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ep. No.",
              "displayName": "Ep. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POST TYPE",
              "displayName": "POST TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG",
              "displayName": "IG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YT",
              "displayName": "YT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L-In",
              "displayName": "L-In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        432
      ],
      "id": "710e23b2-0943-4660-937e-524fdc4d294d",
      "name": "Update row in sheet8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe9756ec-33b8-44b4-b752-81e468f7b626",
              "leftValue": "={{ $json.shouldPost }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        736
      ],
      "id": "9f758850-4a66-4573-9872-51912edfadf0",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# IMAGES                  ",
        "height": 656,
        "width": 2608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        0
      ],
      "typeVersion": 1,
      "id": "4932a75c-3785-4113-8d0f-575abbdc872d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# VIDEO",
        "height": 944,
        "width": 2608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        656
      ],
      "typeVersion": 1,
      "id": "c30d939e-b76d-45d6-a6bf-71d6000f2f25",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# ROUTES",
        "height": 1600,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        0
      ],
      "typeVersion": 1,
      "id": "45a93d03-505d-4086-926c-342e52c66e52",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# DECIDE POSTING STATUS",
        "height": 1600,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "94d1904a-e10e-4bdc-9367-5fdc0f4a8009",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3040,
        1072
      ],
      "id": "0fc9bc4b-e9c6-48b8-b325-9859f7a7ca1e",
      "name": "Wait",
      "webhookId": "38f7d2f6-8207-489b-81db-316d031e75df"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sr. No.": "={{ $('get sheet data').item.json['Sr. No.'] }}",
            "IG": "true"
          },
          "matchingColumns": [
            "Sr. No."
          ],
          "schema": [
            {
              "id": "Sr. No.",
              "displayName": "Sr. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ep. No.",
              "displayName": "Ep. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POST TYPE",
              "displayName": "POST TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG",
              "displayName": "IG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YT",
              "displayName": "YT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L-In",
              "displayName": "L-In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2224,
        112
      ],
      "id": "05315198-2b0c-47c7-a805-c643344ecf2e",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sr. No.": "={{ $('get sheet data').item.json['Sr. No.'] }}",
            "X": "true"
          },
          "matchingColumns": [
            "Sr. No."
          ],
          "schema": [
            {
              "id": "Sr. No.",
              "displayName": "Sr. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ep. No.",
              "displayName": "Ep. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POST TYPE",
              "displayName": "POST TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG",
              "displayName": "IG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YT",
              "displayName": "YT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L-In",
              "displayName": "L-In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        272
      ],
      "id": "09af7735-c80f-4783-a0b7-0c2a0900d851",
      "name": "Update row in sheet9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sr. No.": "={{ $('get sheet data').item.json['Sr. No.'] }}",
            "IG": "true"
          },
          "matchingColumns": [
            "Sr. No."
          ],
          "schema": [
            {
              "id": "Sr. No.",
              "displayName": "Sr. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ep. No.",
              "displayName": "Ep. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POST TYPE",
              "displayName": "POST TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG",
              "displayName": "IG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YT",
              "displayName": "YT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L-In",
              "displayName": "L-In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2448,
        848
      ],
      "id": "f3e92d7f-5d6d-45c7-8c81-ae125e2a3b64",
      "name": "Update row in sheet1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sr. No.": "={{ $('get sheet data').item.json['Sr. No.'] }}",
            "X": "true"
          },
          "matchingColumns": [
            "Sr. No."
          ],
          "schema": [
            {
              "id": "Sr. No.",
              "displayName": "Sr. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ep. No.",
              "displayName": "Ep. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POST TYPE",
              "displayName": "POST TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG",
              "displayName": "IG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YT",
              "displayName": "YT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "L-In",
              "displayName": "L-In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3776,
        1072
      ],
      "id": "4d1abea0-dbc4-40d3-b83c-02e4804a9d3e",
      "name": "Update row in sheet10"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ",
          "mode": "list",
          "cachedResultName": "Video Posting Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Video Content data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-Nh-SiugRe--IIBmm7IiQ8VgJnSALDjwvCVi5LL9KqQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sr. No.": "={{ $('get sheet data').item.json['Sr. No.'] }}",
            "YT": "true"
          },
          "matchingColumns": [
            "Sr. No."
          ],
          "schema": [
            {
              "id": "Sr. No.",
              "displayName": "Sr. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ep. No.",
              "displayName": "Ep. No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Publish date",
              "displayName": "Publish date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "POST TYPE",
              "displayName": "POST TYPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FB",
              "displayName": "FB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IG",
              "displayName": "IG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "X",
              "displayName": "X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "YT",
              "displayName": "YT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "L-In",
              "displayName": "L-In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        1248
      ],
      "id": "9408bbc1-befb-4a56-9739-b3340f5d1f7f",
      "name": "Update row in sheet11"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Video and Description on Facebook1": {
      "main": [
        [
          {
            "node": "Update row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get sheet data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Schedule Decision Maker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request26": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Read video from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video from Google Drive": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read video from Google Drive": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init": {
      "main": [
        [
          {
            "node": "Read Video from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Append1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append1": {
      "main": [
        [
          {
            "node": "Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Update row in sheet10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "get status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get status1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Decision Maker1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Update row in sheet11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sheet data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video from Google Drive2": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video from Google Drive3": {
      "main": [
        [
          {
            "node": "Upload Video and Description on Facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Instagram img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file6": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Create Tweet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file8": {
      "main": [
        [
          {
            "node": "Post onFB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post onFB": {
      "main": [
        [
          {
            "node": "Update row in sheet8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram img": {
      "main": [
        [
          {
            "node": "publish media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publish media": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet1": {
      "main": [
        [
          {
            "node": "Update row in sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Video from Google Drive2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Video from Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet7": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet8": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "get status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96e66e22-3dd0-4fc7-9064-9e968680504d",
  "meta": {
    "instanceId": "2083038fbc253b4180eadb9a1e5ddf461c6f5eebcbb33388217161be06e63baf"
  },
  "id": "LAqzLVRWMYeHfz8I",
  "tags": []
}